:root {
    --primary-color: #000;
    --secondary-color: #666666;
    --tertiary-color: #a6a6a6;
    --quaternary-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}

header {
    background-color: var(--secondary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap:  wrap;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
}

header h1 {
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 27px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
    border-radius: 7px;
}

header nav ul li:hover {
    background-color: var(--primary-color);
    text-shadow: none;
}

footer {
    background-color: var(--secondary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 30px;
    font-weight: normal;
    color: var(--quaternary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url(../images/hero.jpg);
    background-position: 80%;
    background-size: cover;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h2 {
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}

.flex {
    display: flex;
}

.section-title {
    font-size: 35px;
    padding: 15px;
    margin-top: 25px;
    margin-left: 50px;
    text-align: end;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);

}

.about-me {
    
    
    align-items: center;
}
.about-me p {
    padding: 10px;
    text-align: center;
    border-left: 2px solid var(--quaternary-color);
}

.project {
    flex-basis: 45%;
}

.projects{
    padding: 10px;
    margin: 0 auto;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid var(--quaternary-color);
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

img {
    border: 5px solid var(--tertiary-color);
    border-radius: 7px;
    transition: img 0.5s ease;
    max-height: 200px;
    width: 100%
}

img::before:hover {
    opacity: 0.5;
}

img::after:hover {
    opacity: 1;
}

.main-project {
    flex-basis: 100%;
}

.main-project img {
    height: 400px;
    width:100%;
    border: 5px solid var(--tertiary-color);
    border-radius: 7px;
    opacity: 0.5;
    transition: img 0.5s ease;
}


a img:hover {
    opacity: 1;
}

.projects h3 {
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
    padding: 15px;
    opacity: 1;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
}

#contact {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-around;
}

.contact-info {
    background-color: var(--secondary-color);
    justify-content: space-around;
    align-items: center;
}



@media screen and (max-width: 575px) {
    .section-title {
        border-bottom: 2px solid var(--tertiary-color);
        border-right: none;
        justify-content: center;
    }
}